*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
ul, ol, li{
    list-style: none;
}
:root{ 
    /*  */
    /* Criação de variaveis globais */
    --primary-color: #F07807;
    /* --secondary-color: #FBDDC1; */ /* Antiga cor secundária */
    --secondary-color: #FEF2E7;
    --default-shadow: 0 4px 4px #0004;
    --default-padding: 0px 80px;
}
body{
    font-family: "Poppins", sans-serif; /* fonte da escrita retirada do modelo figma */
}
header{    
    /* position: absolute; Altera a camada e remove a referência do pai */
    position: fixed; /* Altera a camada, remove a referência do pai e  */
    padding: var(--default-padding);
    /* position: fixed;  */ /* Altera a camada, remove a referência do pai e deixa fixo na tela do usuário */
    height: 60px; 
    /* width: calc(100% - 160px); formula para retirar 160px do padding */
    width: 100%;
    top: 60px; /* determina a posição inicial de cima para baixo */
    display: flex;
    justify-content: space-between;
    z-index: 999; /* alterado camada do menu para a mais alta para garantir que nada fique por cime do menu */
    align-items: center; /* Centraliza o botão de login */
}
header menu{
    display: flex;
    align-items: center; /* centraliza no eixo vertical(flexbox) */
    gap: 48px; /* Distancia entre os conteudos do menu */
    font-size: 16px; /* Tamanho do conteudo */
}
header li{
    padding: 4px 8px;
    transition: all 0.5s; /* delay para aparecer as configurações dos conteudos li */
}
header li:hover{
    box-shadow: var(--default-shadow); /* o ultimo digito da cor hexadecimal determina transparencia */
    background-color: var(--secondary-color)
}
header button{
    height: 48px;
    width: 120px;
    background-color: var(--secondary-color);
    border-radius: 12px;
    border: none;
    box-shadow: var(--default-shadow);
    display: flex;
    justify-content: center;
    gap: 8px;
    align-items: center;
    font-weight: 900; /* Aumenta a largura da fonte escrita, conteudo */
    color: var(--primary-color);
}
section {
    height: 100vh;
    padding: var(--default-padding);
}
.home {
    background-color: var(--secondary-color);
    background-image: url(./img/bg-home.svg) ; /* url é uma funcao para adicionar imagem */
    background-repeat: no-repeat; /* Cancela a repetição das imagens */
    background-position: top right; /* alinha no todo e lado direito */
    background-size: contain; /* Aumenta proporcionalmente altura e largura da imagem até a borda do container */
    display: grid;
    grid-template-rows: 70% 30%;
}
.hero {
    /* background-color: blueviolet; */
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 64px;
}
.hero h2 {
    font-size: 4rem;
    font-weight: 400;
    width: 558px;
    margin-bottom: 64px; /* Aumentar a distancia entre o slogan e as opções de pizza */
}
.hero span {
    color: var(--primary-color);
}
.container-produto {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pizza {
    /* Foi adicionado para os filhos absolutes conseguirem tirar o pai "pizza" como referência */
    position: relative; /* Position relative é basicamente um position static porem com a capacidade de alterar os lados direitos, esquerdos, superior e inferior igual a um absolute */
    display: flex;
    border-radius: 12px;
}
.add-produto {
    position: absolute;
    right: -16px;
    top: -16px;
    display: grid;
    place-content: center;
    font-size: 32px;
    color: white;
    height: 40px;
    width: 40px;
    border-radius: 12px;
    border: 2px solid white;
    background-color: var(--primary-color);
    opacity: 0; /* Torna o objeto transparente */
    transition: 0.5s;
}

.pizza:hover .add-produto{
    /* hover é uma funcionalidade */
    opacity: 1; /* Torna o objeto aparente */

}
.animacao {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    border-radius: 0 0 12px 12px;
}
.container-info {
    padding: 0px 12px;
    display: flex;
    background-color: #0008;
    position: absolute;
    bottom: -36px;
    width: 100%;
    height: 36px;
    border: 0 0 12px 12px;
    align-items: center;
    justify-content: space-between;
    transition: 0.5s;
}
.pizza:hover .container-info{
    /* hover é uma funcionalidade que gerencia uma ação quando passamos o mouse em cima de um objeto */
    bottom: 0;
}
.container-info p {
    width: 120px;
    font-size: 12px;
    color: white;
}
.container-info span {
    display: grid;
    place-content: center;
    width: 57px;
    height: 20px;
    background-color: var(--primary-color);
    font-size: 12px;
    color: white;
    border-radius: 6px;
}
.pizza:hover .container-info{
    /* hover é uma funcionalidade que gerencia uma ação quando passamos o mouse em cima de um objeto */
    bottom: 0;
}
.cardapio {
    background-color: white;
    display: flex;
    flex-direction: column;
}
.titulo-secao {
    display: flex;
    align-items: center;
    gap: 24px;
}
.titulo-secao h3 {
    font-size: 40px;
    color: var(--primary-color);
    text-transform: uppercase; /* Deixar a fonte maiuscula */
    font-weight: 600; /* Aumentar a largura da escrita fonte */
}
.opcoes-cardapio {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; /* Espalha uniforme e deixa um espaço no inicio e final da div */
    height: 300px;
    border-bottom: 4px solid var(--secondary-color);
}
.titulo-opcoes {
    display: flex;
    justify-content: space-between;
    color: var(--primary-color);
}
.titulo-opcoes h4 {
    font-size: 1.5rem;
    font-size: 600;
}
.titulo-opcoes a {
    font-size: 1.5rem;
    font-weight: 600;
}
.opcoes-cardapio.bebida {
    border: none;
}
.pizza.bebida {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border-radius: 4px;
    padding: 16px;
    transition: 0.5;
}
.pizza.bebida:hover {
    box-shadow: 2px 2px 8px #CCC;
}
.pizza.bebida .valor {
    color: var(--primary-color);
    width: 100%;
}
.pizza.bebida .descricao {
    font-size: 12px;
}
.servicos {
    background-color: var(--secondary-color);
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-top: 32px;
    padding-bottom: 32px;
    /* padding-block: 32px;  */ /* Padding block criar uma distancia interna no top e no bottom substituindo as duas linhas anteriores */
}
.opcoes-servicos {
    display: flex;
    justify-content: space-between;
}
.servico-card {
    width: 400px;
    height: 500px;
    border: 4px solid var(--primary-color);
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px;
}
.servico-card img {
    /* box-shadow: 10px 10px 10px #000; */ /* Inseri sombra na img */
    filter: drop-shadow(2px 2px 4px #665); /* Inseri sombra na imagem ignorando as partes transparentes  filter é como se fosse um diretório com diversar funções*/
}
.servico-card h4 {
    font-size: 2.5rem;
    color: var(--primary-color);
    font-weight: 500;
    text-shadow: var(--default-shadow);
}
.servico-card p {
    text-align: center;
    font-size: 1.2rem;
    text-shadow: var(--default-shadow);
}
footer{
    height: 526px;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}
.contatos-container{
    display: flex;
    gap: 32px;
    flex-grow: 1;
    width: 70%;
    justify-content: space-between;
}
.contatos-item {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-top: 120px;
    gap: 8px;
}
.contatos-item.logo {
    justify-content: center;
    padding: 0;
}
.contatos-item h4 {
    font-size: 1.5rem;
    font-weight: 400;
}
.contatos-item menu {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-weight: 300;
}
.contatos-item li {
    display: flex;
    gap: 16px;
}
.social a {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #fff;
    display: grid;
    place-content: center;
    font-size: 1.5rem;
    transition: 0.5s;
}
.social a:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}
.creditos {
    display: grid;
    height: 72px;
    width: 100%;
    place-items: center;
    border-top: 1px solid var(--secondary-color);
    font-size: 0.7rem;
    font-weight: 300;
    font-style: italic;
}